<h1>Here's Your Nearest Charging Station</h1>

<h2>Name: </h2>
<ul>
  <li> miles away</li>
  <li>Travel Time: </li>
  <li>Address: </li>
  <li>Directions: </li>
  <li>Fuel Type: </li>
  <li>Access Times: </li>
</ul>
